// ADMIN SPECIFIEKE STYLE SHEET. PUUR OM RUIMTE TE BESPAREN. ///////////////////

.adm-container {

  .block {

    .headerblock {
      margin-left: 0;
      margin-right: 0;
    }

  }

  #cPanel {
    min-height: 2rem;


  }
}
