// ADMIN SPECIFIEKE STYLE SHEET. PUUR OM RUIMTE TE BESPAREN. ///////////////////
$defaultpadding: 0.8rem;

.adm-container {

  .block {

    .headerblock {
      margin-left: 0;
      margin-right: 0;
    }

  }

  #cPanel {
    min-height: 2rem;

    .admMENU {
      .btn, .adm-nav {

      }
    }

  }

  #main {
    .adm-tab {
      border-radius: 5px;
      margin-top: $defaultpadding;
      transition: 0.4s;
      min-height: 50vh;
    }
  }

}
