// ADMIN SPECIFIEKE STYLE SHEET. PUUR OM RUIMTE TE BESPAREN. ///////////////////
$defaultpadding: 0.8rem;

html {
  overflow: auto;
}

#main {
  min-height: 0;
}

#admkeypad {
  .error {
    margin-bottom: (0.8rem * 4);
  }
}

.hidden-block {
  border: 1px solid #3399CC;
  padding: 15px;
  display: flex;
  flex-direction: column;
  .items {
    flex: 1;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid rgba(#3399CC, 0.2);
  }
}

.keypad-row {
  .btn.btn-keypad {
    padding-top:28px;
    padding-bottom:28px;
    font-size: 2rem;
    border-radius: 0;
  }
  #writekeys {
    background      : #CCC;
    color           : #222;
    font-size       : 32px;
    font-size       : 2rem;
    padding         : 4px;
    max-width       : 100%;
    border-radius   : 5px;
    margin-bottom   : 2rem;
  }
}

#cPanel-status {
  margin : {
    top: ($defaultpadding * 1.6);
    bottom: ($defaultpadding * 1.25);
  }
  border-radius: 4px;
  padding: $defaultpadding;
}


.adm-container {

  .block {

    .headerblock {
      margin-left: 0;
      margin-right: 0;
    }

  }

  #cPanel {
    min-height: 2rem;
    margin-top: 1.7rem;

    .admMENU {
      .btn, .adm-nav {

      }
    }

  }

  .adm-tab {
    border-radius: 5px;
    margin-top: $defaultpadding;
    transition: 0.4s;
    min-height: 50vh;
    padding-bottom: $defaultpadding;

    &#admSECURITY {

      .row {
        margin-top: ($defaultpadding*3);
        margin-bottom: ($defaultpadding*3);
      }
      .form-control {
        margin-top: ($defaultpadding);
        margin-bottom: ($defaultpadding);
        background: #222;
        color: #FFF;
        border: 1px solid #FFF;
      }
      .btn {
        margin-top: ($defaultpadding);
        margin-bottom: ($defaultpadding);
      }
    }
    &#admCHAT {
      input, textarea, .btn {
        margin-top    : $defaultpadding;
        margin-bottom : ($defaultpadding * 2);
      }
    }
    &#admBROADCAST {

      .btn {
        margin : ($defaultpadding * 0.5);
      }

    }

    &#admCMD {

      padding: ($defaultpadding * 2) ($defaultpadding * 4);

    }

    &#admOVERLORD {

      padding: ($defaultpadding * 2) ($defaultpadding * 4);

      .btn {
        margin: ($defaultpadding * 1.5) 0;
      }
    }

    &#admPORTAL {
      .btn {
        width: 100%;
        margin: ($defaultpadding * 1.5);
      }
    }

    // mobile fix
    @media(max-width: 990px) {
      .btn {
        width: 100%;
        margin: ($defaultpadding * 1.5) 0;
      }
    }

  }

}
