body {
  background: #012324;
  color: #FFFFFF;
}

.danger-line {
  background: #FFCC00;
}

.spinner {
  border: 16px solid #b3fffc;
  border-left: 16px solid #2bede6;
}

hr {
  background-color: #FFCC00;
  border-color: #FFCC00;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFCC00;
}

h1.alt-color, h2.alt-color, h3.alt-color, h4.alt-color, h5.alt-color, h6.alt-color {
  color: #FFCC00;
}

h1.dark-color, h2.dark-color, h3.dark-color, h4.dark-color, h5.dark-color, h6.dark-color {
  color: #0B5E66;
}

p {
  color: #FFFFFF;
}

.text-white {
  color: #FFFFFF;
}

.text-red {
  color: #FFCC00;
}

.holoContrast {
  color: #FFCC00;
}

.holoRegular {
  color: #FFCC00;
}

.block {
  transition: 0.5s;
  background: #042A34;
}

.default-border {
  border: 1px solid #FFCC00;
}

.flash {
  box-shadow: inset -1px -1px 3rem 5px rgba(255, 252, 0, 0.5);
}

.block-light {
  background: #0B5E66;
}

.block-medium {
  background: #053A47;
}

.headerblock {
  border-top: 1px solid #0B5E66;
  border-bottom: 1px solid #0B5E66;
  background: #053A47;
}

.headerblock h1, .headerblock h2, .headerblock h3 {
  color: #FFCC00;
}

#main .middle .left-bar {
  background: #042A34;
}

#main .middle .left-bar #clock {
  color: #FFCC00;
}

#main .middle .left-bar #clockh1 {
  color: #FFCC00;
}

#main .middle .left-bar.no-bg {
  background: none;
}

#main .middle .left-bar .portalstatus h4 {
  color: #FFCC00;
}

#main .middle .left-bar .portalstatus .portalstatus-icon .glyphicon, #main .middle .left-bar .portalstatus .portalstatus-icon .fa {
  color: #FFCC00;
}

#main .middle .middle-bar .block.no-bg {
  background: none;
}

#main .footer .item .block::before {
  border-color: transparent #012324 #012324 transparent;
}

#notificationContainer .disconnectedPopup {
  background: #222222;
  border: 3px solid #FFCC00;
  color: #FFFFFF;
}

#notificationContainer .disconnectedPopup h2 {
  color: #FFFFFF;
}

.btn-ui.btn-ui-holo {
  color: #39DBCC;
  border-color: #39DBCC;
  background-image: none;
  background-color: transparent;
}

.btn-ui.btn-ui-holo .glyphicon, .btn-ui.btn-ui-holo .fa {
  color: #39DBCC;
  border-color: #39DBCC;
  background-image: none;
  background-color: transparent;
}

.btn-ui.btn-ui-holo:hover, .btn-ui.btn-ui-holo.active {
  color: #222222;
  border-color: #39DBCC;
  background-color: #39DBCC;
}

.btn-ui.btn-ui-holo:hover .glyphicon, .btn-ui.btn-ui-holo:hover .fa, .btn-ui.btn-ui-holo.active .glyphicon, .btn-ui.btn-ui-holo.active .fa {
  color: #222222;
  border-color: #39DBCC;
  background-color: #39DBCC;
}

.btn-ui.btn-ui-holo-alt {
  color: #FFCC00;
  border-color: #FFCC00;
  background-image: none;
  background-color: transparent;
}

.btn-ui.btn-ui-holo-alt .glyphicon, .btn-ui.btn-ui-holo-alt .fa {
  color: #FFCC00;
  border-color: #FFCC00;
  background-image: none;
  background-color: transparent;
}

.btn-ui.btn-ui-holo-alt:hover, .btn-ui.btn-ui-holo-alt.active {
  color: #222222;
  border-color: #FFCC00;
  background-color: #FFCC00;
}

.btn-ui.btn-ui-holo-alt:hover .glyphicon, .btn-ui.btn-ui-holo-alt:hover .fa, .btn-ui.btn-ui-holo-alt.active .glyphicon, .btn-ui.btn-ui-holo-alt.active .fa {
  color: #222222;
  border-color: #FFCC00;
  background-color: #FFCC00;
}

.btn-ui.btn-ui-holo-red {
  color: #FFCC00;
  border-color: #FFCC00;
  background-image: none;
  background-color: transparent;
}

.btn-ui.btn-ui-holo-red .glyphicon, .btn-ui.btn-ui-holo-red .fa {
  color: #FFCC00;
  border-color: #FFCC00;
  background-image: none;
  background-color: transparent;
}

.btn-ui.btn-ui-holo-red:hover, .btn-ui.btn-ui-holo-red.active {
  color: #222222;
  border-color: #FFCC00;
  background-color: #FFCC00;
}

.btn-ui.btn-ui-holo-red:hover .glyphicon, .btn-ui.btn-ui-holo-red:hover .fa, .btn-ui.btn-ui-holo-red.active .glyphicon, .btn-ui.btn-ui-holo-red.active .fa {
  color: #222222;
  border-color: #FFCC00;
  background-color: #FFCC00;
}

@keyframes portalCircleAnimation {
  0% {
    border: 16px solid transparent;
  }
  25% {
    border-left: 16px solid #39DBCC;
  }
  50% {
    border-top: 16px solid #39DBCC;
  }
  75% {
    border-right: 16px solid #39DBCC;
  }
  100% {
    border-bottom: 16px solid #39DBCC;
  }
}

.glitch {
  color: #FFFFFF;
}

.glitch::before {
  text-shadow: 1px 0 #FFCC00;
  background: #222222;
}

.glitch::after {
  text-shadow: 1px 0 #39DBCC;
  background: #222222;
}
