// COLORS DEFAULT: dit bestand bevat bijna elke declaratie van kleuren, en de kleuren bovenaan als een variable.
// Zo kan voor een alert heel eenvoudig een eigen kleurenschema gemaakt worden, want de kleuren hoeven maar op 1 plek aangepast te worden.

// huidig actief:
$borderColor  : #39DBCC;
$textColor    : #FFFFFF;
$titleColor   : #39DBCC;
$altTitleColor: #f2A83B;
$statusUnknown: #880088; //404 pagina, bijvoorbeeld.
$defaultdonker: #222222;
$holoContrast : #FF9933;
$holohalf     : rgba(57, 219, 204, 0.5);

// kleuren van nationalgeographic's MARS
$background     : #012324;
$blocks         : #042A34;
$blocksmedium   : #053A47;
$blockslight    : #0B5E66;
$statusCritical : #4b1002;

// misc voorbeeld kleuren:
$gubatGeel    : #FFCC00;
$aquilaBlauw  : #005B8E;
$holoBlauw    : #39DBCC;

/// 'orbit ui' kleuren
$orbitLight   : #b3fffc;
$orbitNormal  : #2bede6;
$orbitGreen   : #4fe38b;
$orbitRed     : #ed3737;

body {
  background : $background;
}

.spinner {
  border      : 16px solid $orbitLight;
  border-left : 16px solid $orbitNormal;
}

.topHeader {
  // background : $topbar;
}

hr {
  background-color: $titleColor;
  border-color    : $titleColor;
}

h1, h2, h3, h4, h5, h6 {
  color : $titleColor;
  &.alt-color {
    color : $altTitleColor;
  }
  &.dark-color {
    color : $blockslight;
  }
}

p {
  color : $textColor;
}

.text-white {
  color : #FFFFFF;
}
.text-red {
  color : $orbitRed;
}

.holoContrast {
  color : $holoContrast;
}


.block {
  transition    : 0.5s;
  background    : $blocks;
}
.default-border {
  border      : 1px solid $borderColor;
}
//temp toevoeging:
.flash {
  box-shadow: inset -1px -1px 3rem 5px $holohalf;
}

.block-light {
  background    : $blockslight;
}
.block-medium {
  background    : $blocksmedium;
}
.headerblock {
  border-top    : 1px solid $blockslight;
  border-bottom : 1px solid $blockslight;
  background    : $blocksmedium;
  h1, h2, h3 {
    color       : $titleColor;
  }
}

#main {
  .middle {
    .left-bar {
      background: $blocks;

      #clock {
        color: $altTitleColor;
        &h1 {
          color: $altTitleColor;
        }
      }
    }
    .middle-bar{

    }
    .right-bar{
      // background: $rightbar;
    }
  }
}

// custom buttons :: zijn TOEVOEGINGEN bovenop de outline buttons.
.btn-ui {
  &.btn-ui-holo {
    color           : $holoBlauw;
    border-color    : $holoBlauw;
    background-image: none;
    background-color: transparent;
    .glyphicon {
      color           : $holoBlauw;
      border-color    : $holoBlauw;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $holoBlauw;
      background-color: $holoBlauw;
      .glyphicon {
        color: $defaultdonker;
        border-color    : $holoBlauw;
        background-color: $holoBlauw;
      }
    }
  }
  &.btn-ui-holo-alt {
    color           : $holoContrast;
    border-color    : $holoContrast;
    background-image: none;
    background-color: transparent;
    .glyphicon {
      color           : $holoContrast;
      border-color    : $holoContrast;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $holoContrast;
      background-color: $holoContrast;
      .glyphicon {
        color: $defaultdonker;
        border-color    : $holoContrast;
        background-color: $holoContrast;
      }
    }

  }
  &.btn-ui-holo-red {
    color           : $orbitRed;
    border-color    : $orbitRed;
    background-image: none;
    background-color: transparent;
    .glyphicon {
      color           : $orbitRed;
      border-color    : $orbitRed;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $orbitRed;
      background-color: $orbitRed;
      .glyphicon {
        color: $defaultdonker;
        border-color    : $orbitRed;
        background-color: $orbitRed;
      }
    }
  }
}


// BACKEND KLEUREN /////
.adm-tab {
  p {
    color: $titleColor;
  }
}
