// COLORS DEFAULT: dit bestand bevat bijna elke declaratie van kleuren, en de kleuren bovenaan als een variable.
// Zo kan voor een alert heel eenvoudig een eigen kleurenschema gemaakt worden, want de kleuren hoeven maar op 1 plek aangepast te worden.

// huidig actief:
$borderColor  : #bc0000;
$textColor    : #FFFFFF;
$titleColor   : #f2A83B;
$altTitleColor: #f2A83B;
$statusUnknown: #880088; //404 pagina, bijvoorbeeld.
$defaultdonker: #222222;
$holoContrast : #FF9933;
$holohalf     : rgba(219, 57, 57, 0.5);
$textmuted    : #DDDDDD;

// kleuren van nationalgeographic's MARS
$background     : #222222;
$blocks         : #550000;
$blocksmedium   : #660000;
$blockslight    : #bc0000;
$statusCritical : #550000;

// misc voorbeeld kleuren:
$gubatGeel    : #FFCC00;
$aquilaBlauw  : #005B8E;
$holoBlauw    : #FFCC00;

/// 'orbit ui' kleuren
$orbitLight   : #b3fffc;
$orbitNormal  : #2bede6;
$orbitGreen   : #4fe38b;
$orbitRed     : #bc0000;
