
// COLORS DEFAULT: dit bestand bevat bijna elke declaratie van kleuren, en de kleuren bovenaan als een variable.
// Zo kan voor een alert heel eenvoudig een eigen kleurenschema gemaakt worden, want de kleuren hoeven maar op 1 plek aangepast te worden.

// huidig actief:
$borderColor  : #FFFFFF;
$textColor    : #FFFFFF;
$titleColor   : #39DBCC;
$altTitleColor: #f2A83B;
$statusUnknown: #880088;

$defaultdonker: #000000;
$minderdonker : #222222;

$rightbar     : #000000;
$topbar       : #000000;


// kleuren van nationalgeographic's MARS
$blocks         : #012324;
$statusCritical : #4b1002;


// voorbeeld kleuren:
$gubatGeel    : #FFCC00;
$holoBlauw    : #39DBCC;
$holoContract : #FF9933;
$aquilaBlauw  : #005B8E;


body {
  background : $defaultdonker;
}

.topHeader {
  background : $topbar;
}

h1, h2, h3, h4, h5, h6 {
  color: $titleColor;
}

p {
  color: $textColor;
}

.text-white {
  color: #FFFFFF;
}

.block {
  background: $blocks;
}

#main {
  .middle {
    .left-bar {
      #clock {
        color: $altTitleColor;
        &h1 {
          color: $altTitleColor;
        }
      }
    }
    .middle-bar{

    }
    .right-bar{
      background: $rightbar;
    }
  }
}
