body {
  background : $background;
}

.danger-line {
  background : $orbitRed;
}

.spinner {
  border      : 16px solid $orbitLight;
  border-left : 16px solid $orbitNormal;
}

.topHeader {
  // background : $topbar;
}

hr {
  background-color: $titleColor;
  border-color    : $titleColor;
}

h1, h2, h3, h4, h5, h6 {
  color : $titleColor;
  &.alt-color {
    color : $altTitleColor;
  }
  &.dark-color {
    color : $blockslight;
  }
}

p {
  color : $textColor;
}

.text-white {
  color : #FFFFFF;
}
.text-red {
  color : $orbitRed;
}

.holoContrast {
  color : $holoContrast;
}


.block {
  transition    : 0.5s;
  background    : $blocks;
}
.default-border {
  border      : 1px solid $borderColor;
}
//temp toevoeging:
.flash {
  box-shadow: inset -1px -1px 3rem 5px $holohalf;
}

.block-light {
  background    : $blockslight;
}
.block-medium {
  background    : $blocksmedium;
}
.headerblock {
  border-top    : 1px solid $blockslight;
  border-bottom : 1px solid $blockslight;
  background    : $blocksmedium;
  h1, h2, h3 {
    color       : $titleColor;
  }
}

#main {
  .middle {

    .left-bar {
      background: $blocks;

      #clock {
        color: $altTitleColor;
        &h1 {
          color: $altTitleColor;
        }
      }
      &.no-bg {
        background: none;
      }
    }
    .middle-bar{
      .block.no-bg {
        background: none;
      }
    }
    .right-bar{
      // background: $rightbar;
    }
  }
}

#colony-feed {
  border-bottom   : 4px solid $blocksmedium;

  li {
    border: 1px solid $blockslight;
    .feed-top {

      .feed-timestamp {
        color: $altTitleColor;
      }
      .feed-user {
        color : $textmuted;
      }
    }
    .feed-message {
      color : $textmuted;
    }
  }

}

// custom buttons :: zijn TOEVOEGINGEN bovenop de outline buttons.
.btn-ui {
  &.btn-ui-holo {
    color           : $holoBlauw;
    border-color    : $holoBlauw;
    background-image: none;
    background-color: transparent;
    .glyphicon {
      color           : $holoBlauw;
      border-color    : $holoBlauw;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $holoBlauw;
      background-color: $holoBlauw;
      .glyphicon {
        color: $defaultdonker;
        border-color    : $holoBlauw;
        background-color: $holoBlauw;
      }
    }
  }
  &.btn-ui-holo-alt {
    color           : $holoContrast;
    border-color    : $holoContrast;
    background-image: none;
    background-color: transparent;
    .glyphicon {
      color           : $holoContrast;
      border-color    : $holoContrast;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $holoContrast;
      background-color: $holoContrast;
      .glyphicon {
        color: $defaultdonker;
        border-color    : $holoContrast;
        background-color: $holoContrast;
      }
    }

  }
  &.btn-ui-holo-red {
    color           : $orbitRed;
    border-color    : $orbitRed;
    background-image: none;
    background-color: transparent;
    .glyphicon {
      color           : $orbitRed;
      border-color    : $orbitRed;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $orbitRed;
      background-color: $orbitRed;
      .glyphicon {
        color: $defaultdonker;
        border-color    : $orbitRed;
        background-color: $orbitRed;
      }
    }
  }
}

// spinner voor portal incoming
@keyframes portalCircleAnimation {
  0% {
    border: 16px solid transparent;
  }
  25% {
    border-left: 16px solid $holoBlauw;
  }
  50% {
    border-top: 16px solid $holoBlauw;
  }
  75% {
    border-right: 16px solid $holoBlauw;
  }
  100% {
    border-bottom: 16px solid $holoBlauw;
  }
}

.glitch {
  position: relative;
  color: #FFF;
  margin: 0 auto;
}
.glitch::before,.glitch::after{
  content : attr(data-text);
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}

.glitch::before {
  left          : 2px;
  text-shadow   : 1px 0 $orbitRed;
  background    : $defaultdonker;

  clip:rect(0,900px,0,0);
  animation: glitch-anim-1 3s infinite linear alternate-reverse;
}
.glitch::after {
  left          : -2px;
  text-shadow   : 1px 0 $holoBlauw;
  background    : $defaultdonker;

  clip:rect(0,900px,0,0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}
@keyframes glitch-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}
