body {
  background : $background;
  color: $textColor;
}

.danger-line {
  background : $orbitRed;
}

.bgdanger, .block.bgdanger {
  background-color: $orbitRed;
}

.spinner {
  border      : 16px solid $orbitLight;
  border-left : 16px solid $orbitNormal;
}

hr {
  background-color: $titleColor;
  border-color    : $titleColor;
}

h1, h2, h3, h4, h5, h6 {
  color : $titleColor;
  &.alt-color {
    color : $altTitleColor;
  }
  &.dark-color {
    color : $blockslight;
  }
}

p {
  color : $textColor;
}

.text-white {
  color : #FFFFFF;
}
.text-red {
  color : $orbitRed;
}

.video-js {
  background-color: $blocksmedium;
  border: 1px solid $blockslight;
}

.holoContrast {
  color : $holoContrast;
}
.holoRegular {
  color : $titleColor;
}


.block {
  transition    : 0.5s;
  background    : $blocks;
}
.default-border {
  border      : 1px solid $borderColor;
}
//temp toevoeging:
.flash {
  box-shadow: inset -1px -1px 3rem 5px $holohalf;
}

.block-light {
  background    : $blockslight;
}
.block-medium {
  background    : $blocksmedium;
}
.headerblock {
  border-top    : 1px solid $blockslight;
  border-bottom : 1px solid $blockslight;
  background    : $blocksmedium;
  h1, h2, h3 {
    color       : $titleColor;
  }
}

#main {
  .middle {

    .left-bar {
      background: $blocks;

      #clock {
        color: $altTitleColor;
        h1 {
          color: $altTitleColor;
        }
      }
      &.no-bg {
        background: none;
      }
      #portalstatus {
        h4 {
          color: $altTitleColor;
        }
        .portalstatus-icon .glyphicon, .portalstatus-icon .fa {
          color: $altTitleColor;
        }
      }
    }
    .middle-bar{
      .block.no-bg {
        background: none;
      }
    }
    .right-bar{
      // background: $rightbar;
    }
  }

  .footer {
    .item {
      .block {
        // border-top: 1px solid $blockslight;
        // border-right: 1px solid $blockslight;
        &::before {
          // border-color: $background transparent transparent $background;
          border-color: transparent $background $background transparent;

          // border-bottom: 1px solid $blockslight;
          // border-left: 2px solid $blockslight;
        }
        // &::after {
        //   border-left: 2px solid $blockslight;
        // }
      }
    }
  }

}

#notificationContainer {
  .disconnectedPopup {
    background: $defaultdonker;
    border: 3px solid $orbitRed;
    color: $textColor;
    h2 {
      color: $textColor;
    }
  }
}

.btn:focus {
  color: #FFFFFF;
}

// custom buttons :: zijn TOEVOEGINGEN bovenop de outline buttons.
.btn-ui {
  &.btn-ui-holo {
    color           : $holoBlauw;
    border-color    : $holoBlauw;
    background-image: none;
    background-color: transparent;
    .glyphicon, .fa {
      color           : $holoBlauw;
      border-color    : $holoBlauw;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $holoBlauw;
      background-color: $holoBlauw;
      .glyphicon, .fa {
        color: $defaultdonker;
        border-color    : $holoBlauw;
        background-color: $holoBlauw;
      }
    }
  }
  &.btn-ui-holo-alt {
    color           : $holoContrast;
    border-color    : $holoContrast;
    background-image: none;
    background-color: transparent;
    .glyphicon, .fa {
      color           : $holoContrast;
      border-color    : $holoContrast;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $holoContrast;
      background-color: $holoContrast;
      .glyphicon, .fa {
        color: $defaultdonker;
        border-color    : $holoContrast;
        background-color: $holoContrast;
      }
    }

  }
  &.btn-ui-holo-red {
    color           : $orbitRed;
    border-color    : $orbitRed;
    background-image: none;
    background-color: transparent;
    .glyphicon, .fa {
      color           : $orbitRed;
      border-color    : $orbitRed;
      background-image: none;
      background-color: transparent;
    }

    &:hover, &.active {
      color: $defaultdonker;
      border-color    : $orbitRed;
      background-color: $orbitRed;
      .glyphicon, .fa {
        color: $defaultdonker;
        border-color    : $orbitRed;
        background-color: $orbitRed;
      }
    }
  }
}

// spinner voor portal incoming
@keyframes portalCircleAnimation {
  0% {
    border: 16px solid transparent;
  }
  25% {
    border-left: 16px solid $holoBlauw;
  }
  50% {
    border-top: 16px solid $holoBlauw;
  }
  75% {
    border-right: 16px solid $holoBlauw;
  }
  100% {
    border-bottom: 16px solid $holoBlauw;
  }
}

@keyframes animloadbar {
    0%      { left: -15%;  }
    40%     { background-color: $holoBlauw }
    50%     { background-color: lighten($holoBlauw,15%) }
    60%     { background-color: $holoBlauw }
    100%    { left: 105%; background-color: darken($holoBlauw,15%) }
}
.animloadbar {
  background : #555;
}
.animloadbar > span.animloadbar-bar {
  background-color : $holoBlauw;
}

.glitch {
  color: $textColor;
}

.glitch::before {
  text-shadow   : 1px 0 $orbitRed;
  background    : $defaultdonker;
}
.glitch::after {
  text-shadow   : 1px 0 $holoBlauw;
  background    : $defaultdonker;
}
