// huidig actief:
$borderColor  : #CCCCCC;
$textColor    : #FFFFFF;
$titleColor   : #DDDDDD;
$altTitleColor: #DDDDDD;
$statusUnknown: #880088; //404 pagina, bijvoorbeeld.
$defaultdonker: #222222;
$holoContrast : #DDDDDD;
$holohalf     : rgba(191, 159, 130, 0.5);
$textmuted    : #DDDDDD;

// kleuren van nationalgeographic's MARS
$background     : #222222;
$blocks         : #333333;
$blocksmedium   : #3A3A3A;
$blockslight    : #3F3F3F;
$statusCritical : #4b1002;

// misc voorbeeld kleuren:
$gubatGeel    : #FFCC00;
$aquilaBlauw  : #005B8E;
$holoBlauw    : #39DBCC;

/// 'orbit ui' kleuren
$orbitLight   : #b3fffc;
$orbitNormal  : #2bede6;
$orbitGreen   : #4fe38b;
$orbitRed     : #ed3737;
