// huidig actief:
$borderColor  : #FFCC00;
$textColor    : #FFFFFF;
$titleColor   : #FFCC00;
$altTitleColor: #FFCC00;
$statusUnknown: #880088; //404 pagina, bijvoorbeeld.
$defaultdonker: #222222;
$holoContrast : #FFCC00;
$holohalf     : rgba(255, 252, 0, 0.5);
$textmuted    : #DDDDDD;

// kleuren van nationalgeographic's MARS
$background     : #012324;
$blocks         : #042A34;
$blocksmedium   : #053A47;
$blockslight    : #0B5E66;
$statusCritical : #4b1002;

// misc voorbeeld kleuren:
$gubatGeel    : #FFCC00;
$aquilaBlauw  : #005B8E;
$holoBlauw    : #39DBCC;

/// 'orbit ui' kleuren
$orbitLight   : #b3fffc;
$orbitNormal  : #2bede6;
$orbitGreen   : #4fe38b;
$orbitRed     : #FFCC00;
