@import '/_includes/bs3-css/bootstrap.min.css';

$defaultpadding: 0.8rem;
$whitespace    : 3rem;
$fontsize      : 1.4rem;
$titlefontsize : 3.6rem;

$minhoogte     : 66.5vh;

// haalt alle fonts die we includen op.
@import 'fonts.scss';
$fontStack      : 'Titillium-Regular', Helvetica, sans-serif;
$altFontStack   : 'ProFontWindows','Titillium-Bold', Helvetica, sans-serif;
$boldFontStack  : 'Titillium-Bold', Helvetica, sans-serif;

@import 'keyframes.scss';


// OP TE ROEPEN MET :
// @include animation( KEYFRAMENAAM TIJD(bijv. 2.0s) RICHTING(bijv. linear) DURATION (bijv infinite) );
// @include animation(blinkText 1.6s linear infinite);
@mixin animation($values) {
  -webkit-animation   : $values;
  -moz-animation      : $values;
  animation           : $values;
}

// voorbeeld: $delaytimer == 0.4s
@mixin animationdelay($delaytimer) {
  animation-delay         : $delaytimer;
  -moz-animation-delay    : $delaytimer;
  -webkit-animation-delay : $delaytimer;
}

@media(min-width: 998px) {
  html {
    overflow: hidden;
  }
}


body {
  font-size: $fontsize;
  font-family: $fontStack;
}

video, .video-js {
  width: 100%;
  max-height: ($minhoogte - 1vh);
}

.block {
  // padding: $defaultpadding;
  // margin : $defaultpadding;
  transition  : 1.3s;
  height      : 100%;
}

.text-bold {
  font-weight: bold;
}

p.text-lg, .text-lg {
  font-size: 133%;
}

.danger-line {
  min-height  : ($defaultpadding * 2);
  width   : 100%;
  margin  : { top: 3px; bottom: 3px; }
}

.blinkContent {
  @include animation(blinkText 1.5s linear infinite);
}

#connStatus {
  transition: 0.4s;
}

.round {
  border-radius: 50%;
}
.regularfont {
  font-family: $fontStack;
}
.altfont {
  font-family : $altFontStack;
}

.whitespace {
  min-height: ($whitespace);
}

// zoals op gubat.nl/test te zien
.spinCircle {
  position      : relative;
  left          : 25%;
  margin        : 32px;
  height        : 32px;
  width         : 32px;
  border-radius : 50%;
  @include animation(circleSpin 1.4s linear infinite);
}

.img-center {
  margin: 0 auto;
}


.topHeader {
  .text-inline {
    display   : inline;
    position  : relative;
    top       : 15px;
    font-family : $altFontStack;
    h1 {
      font-weight: strong;
      font-size: ($titlefontsize * 1.33);
      @media(max-width:900px) {
        font-size: ($fontsize * 3);
      }
    }
    h2 {
      font-size: ($titlefontsize * 0.75);
    }
    h3 {
      font-size: ($titlefontsize * 0.50);
    }
    h1, h2, h3, h4, h5, h6, p {
      display: inline;
      margin-top: $defaultpadding;
      margin-right: $defaultpadding;
    }

  }
  .text-right {
    font-family : $altFontStack;
    h1 {
      font-weight: strong;
      font-size: ($titlefontsize * 1.33);
      @media(max-width:900px) {
        font-size: ($fontsize * 1.25);
      }
    }
  }
}

.headerblock {
  padding : {
    top   : 0;
    bottom: 0;
    right : 15px;
    left  : 15px;
  }
  margin-left: -15px;
  margin-right: -15px;

  &.margin-zero {
    margin : {
      left: 0;
      right: 0;
    }
  }

  h1, h2, h3 {
    font-size : ($titlefontsize * 0.5);
    margin : {
      top   : 0.4rem;
      bottom: 0.4rem;
    }
    &.bold, .bold {
      font-family : $boldFontStack;
    }
  }

}



// loadingscreen
#loadingScreen {
  .flavor, .middle {
    margin : {
      left: auto;
      right: auto;
      top: 10rem;
      bottom: 0;
    }
  }
  .middle {
    text-align: center;
  }

  .block {
    padding : {
      top     : ($defaultpadding * 4);
      bottom  : ($defaultpadding * 8);
    }
    .headerblock {
      margin : {
        bottom  :   ($defaultpadding * 4);
        top     :  -($defaultpadding * 4);
      }
    }
  }
}

.rightflavor, .bottomflavor {

  visibility: hidden;
  @include animation(showHidden 0.3s linear);
  animation-fill-mode: forwards;

  &.load1 {

  }
  &.load2 {
    @include animationdelay(0.3s);
  }
  &.load3 {
    @include animationdelay(0.6s);
  }
  &.load4 {
    @include animationdelay(1.0s);
  }
  &.load5 {
    @include animationdelay(1.3s);
  }
  &.load6 {
    @include animationdelay(1.5s);
  }

}

#main {

  min-height: calc(100vh - 85px);

  .middle {

    .left-bar {
      height: auto;
      margin : {
        left: 0;
        right: 0;
        top: 0;
        bottom: ($defaultpadding * 2);
      }

      .block {
        border  : none;

        margin : {
          top: $defaultpadding;
          bottom: $defaultpadding;
        }
        &.clockblock {
          @media(max-width:900px) {
            padding: 1px;
          }
        }
        h1, h4, p {
          margin : ($defaultpadding * 2);
          @media(max-width:900px) {
            margin : ($defaultpadding);
          }
        }
        #clock,h1#clock{
          font-family : $altFontStack;
          font-size: 30px;
        }

      }

      .portalstatus {
        padding: $defaultpadding;
        position: relative;
        display: flex;
        margin-top: $defaultpadding;
        border-radius: 5px;
        transition: 0.4s;

        .portalstatus-icon .fa {
          font-size: 48px;
          margin : {
            top: 1.2rem;
          }
        }

        .left {
          padding-left: $defaultpadding;
          padding-right: $defaultpadding;
          flex: 1;
        }
        .right {
          flex: 5;
          padding-left: $defaultpadding;
          padding-right: $defaultpadding;

          h4 {
            font-weight: bold;
          }

          p {
            font-weight: bold;
          }

        }
      }
    }

    .middle-bar {
      height: auto;
      min-height: 16rem;
      .block {
        height: 100%;
      }
      @media(max-width:900px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .right-bar {
      height: auto;
      min-height: $minhoogte;
      @media(max-width: 768px) {
        min-height: 0;
        margin-top: ($defaultpadding*2);
      }

      #countClientsCounter {
        font-family: $altFontStack;
      }
    }


  }// einde middle/top van main

  .footer {
    margin-top: $whitespace;
    font-family: $altFontStack;
    display: flex;
    flex-direction: row;

    @media(max-width: 990px) {
      flex-direction: column;
    }

    .item {
      @media(max-width:998px) {
        margin-bottom:0.6rem;
      }
      &:first-child {
        @media(min-width:998px) {
          padding-left : 0;
        }
      }

      .block {
        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        &:before, &::before {
          content:'';
          position:absolute;
          bottom:0;
          right:0;
          border-width: 0 0 30px 30px;
          border-style:solid;
        }


        .content {
          overflow: hidden;
          padding: 1.5rem;
          h1,h2,h3 {
            margin: 0 0 4px 4px;
          }
        }

      }
      .bottom-right {
        text-align:center;
        img {
          position: relative;
          top: 3rem;
          -webkit-animation: loadSpinner 2s infinite;
          -moz-animation: loadSpinner 2s infinite;
          -animation: loadSpinner 2s infinite;
          width:6rem;
          height:6rem;
          margin-right:1rem;
        }
      }


    }


  }//einde footer
}

#securityAlertLevel {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;
}

.portalCircleContainer {
  min-height: 10rem;
  height: 100%;
  .portalCircle {
    position    : relative;
    left        : 50%;
    border      : 16px solid transparent;
    margin-left : -32px;
    margin-top  : 32px;
    height      : 64px;
    width       : 64px;
    border-radius: 50%;
    @include animation(portalCircleAnimation 1.4s linear infinite);
  }
}

#notificationContainer {
  min-height: $minhoogte;
  width: 100%;

  @media(min-width:769px){
    max-height: $minhoogte;
    overflow: hidden;
  }
  .video-container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    // position: relative;

    video {
      width: 100%;
      // position: relative;
      z-index: 1;

      @media(min-width:769px){
        min-height: $minhoogte;
        overflow: hidden;
      }
      @media(min-width:1550px){
        top: -10vh;
      }
    }

    .overlay-static {
      position: absolute;
      z-index: 2;
      bottom: 0;
      padding: 1.8rem 1rem;
    }
    .overlay-static h2 {
      margin: 6px;
      z-index: 3;
    }

  }



  img {
    max-height: 30vh;
  }

  .disconnectedPopup {
    position: absolute;
    z-index: 99;
    min-height: 4rem;
    font-size: 150%;
    left: 25%;
    top: 25%;
    padding: 2.4rem 1.2rem;
    opacity: 0.9;
    border-radius: 1px;
    @media(max-width:991px) {
      left: 0;
    }
  }

  .broadcast {

    .fixed-bottom {
      position  : relative;
      bottom    : 0;
      margin    : 2rem 0 1rem 0;
    }

  }

}

.glitch {
  position: relative;
  margin: 0 auto;
}
.glitch::before,.glitch::after{
  content : attr(data-text);
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}

.glitch::before {
  left          : 2px;
  clip:rect(0,900px,0,0);
  animation: glitch-anim-1 3s infinite linear alternate-reverse;
}
.glitch::after {
  left          : -2px;
  clip:rect(0,900px,0,0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}
@keyframes glitch-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

/* extra buttons */


// NORMAAL _BS4 BETA OUTLINE BUTTONS
  .btn-outline-primary  {  color: #0275D8;     border-color: #0275D8;    background-image: none;   background-color: transparent; }
  .btn-outline-secondary { color: #CCCCCC;     border-color: #CCCCCC;    background-image: none;   background-color: transparent; }
  .btn-outline-success  {  color: #5CB85C;     border-color: #5CB85C;    background-image: none;   background-color: transparent; }
  .btn-outline-warning {   color: #F0AD4E;     border-color: #F0AD4E;    background-image: none;   background-color: transparent; }
  .btn-outline-danger  {   color: #D9534F;     border-color: #D9534F;    background-image: none;   background-color: transparent; }
// HOVER _BS4 BETA OUTLINE BUTTONS
  .btn-outline-primary:hover  {  color: #000;     border-color: #0275D8;    background-color: #0275D8; }
  .btn-outline-secondary:hover { color: #000;     border-color: #CCCCCC;    background-color: #CCCCCC; }
  .btn-outline-success:hover  {  color: #000;     border-color: #5CB85C;    background-color: #5CB85C; }
  .btn-outline-warning:hover {   color: #000;     border-color: #F0AD4E;    background-color: #F0AD4E; }
  .btn-outline-danger:hover  {   color: #000;     border-color: #D9534F;    background-color: #D9534F; }

.loadCircle {
  border : 0;
  padding: 2.5rem;
  -webkit-animation: loadSpinner 2s infinite;
  -moz-animation: loadSpinner 2s infinite;
  -animation: loadSpinner 2s infinite;
}



// OVERRIDE CLASSES
.pZero {
  padding: 0;
}
.margin-zero {
  margin : {
    left: 0;
    right: 0;
  }
}

////////////////////////////////////////////////////////////
// GRID EXPERIMENT /////
//////////////////////
//


///////////////////////////////////////////////////////////////////////////
// OUDE CSS COMPATIBLE MAKEN
///////////////////////////////
  .titleblock {
    display   : inline;
    position  : relative;
    top       : 15px;
    font-family : $altFontStack;
    h1 {
      font-weight: strong;
      font-size: ($titlefontsize * 1.33);
      @media(max-width:900px) {
        font-size: ($fontsize * 3);
      }
    }
    h2 {
      font-size: ($titlefontsize * 0.75);
    }
    h3 {
      font-size: ($titlefontsize * 0.50);
    }
    h1, h2, h3, h4, h5, h6, p {
      display: inline;
      margin-top: $defaultpadding;
      margin-right: $defaultpadding;
    }

  }
  .ipblock {
    font-family : $altFontStack;
    h1 {
      font-weight: strong;
      font-size: ($titlefontsize * 1.33);
      @media(max-width:900px) {
        font-size: ($fontsize * 1.25);
      }
    }
  }
