$defaultpadding: 0.8rem;
$whitespace    : 3rem;
$fontsize      : 1.4rem;
$titlefontsize : 3.6rem;

// SPINNER // // // // //
@keyframes loadSpinner {
  0%,100% {-webkit-transform: rotate(0);  transform: rotate(0); }
  50%{-webkit-transform: rotate(360deg);  transform: rotate(360deg); }
  75% {-webkit-transform: rotate(180deg); transform: rotate(180deg);}
}

body {
  font-size: $fontsize;
}

.block {
  // padding: $defaultpadding;
  // margin : $defaultpadding;
}

.round {
  border-radius: 100%;
}

.whitespace {
  min-height: ($whitespace);
}

.headerblock {
  padding : {
    top   : 0;
    bottom: 0;
    right : 15px;
    left  : 15px;
  }
  margin-left: -15px;
  margin-right: -15px;

  h1, h2, h3 {
    font-size : ($titlefontsize * 0.5);
    margin : {
      top   : 0.4rem;
      bottom: 0.4rem;
    }
  }

}


// loadingscreen
#loadingScreen {
  .flavor {
    margin : {
      left: auto;
      right: auto;
      top: 10rem;
      bottom: 0;
    }
  }
  .middle {
    @extend .flavor;
    text-align: center;
  }
}

#main {

  .middle {

    .left-bar {
      height: auto;

      .block {
        border  : none;

        margin : {
          top: $defaultpadding;
          bottom: $defaultpadding;
        }
        h1, p {
          margin : ($defaultpadding*2);
        }
        #clock,h1#clock{
          font-size: ($titlefontsize * 1.3);
        }

      }
    }

    .middle-bar {
      height: auto;
    }

    .right-bar {
      height: auto;
    }


  }// einde middle/top van main

  .footer {
    margin-top: $whitespace;

    .item {

      &:first-child {
        padding-left : 0;
      }

      .block {

      }

      .bottom-right {
        text-align:right;
        img {
          -webkit-animation: loadSpinner 2s infinite;
          -moz-animation: loadSpinner 2s infinite;
          -animation: loadSpinner 2s infinite;
          width:6rem;
          height:6rem;
          margin-right:1rem;
        }
      }
    }


  }//einde footer
}


.loadCircle {
  border : 0;
  padding: 2.5rem;
  -webkit-animation: loadSpinner 2s infinite;
  -moz-animation: loadSpinner 2s infinite;
  -animation: loadSpinner 2s infinite;
}
